.seperate_class .form__form-group {
    display: contents !important;
}
.seperate_class .form__form-group-field{
    padding-bottom: 20px;
    width: 20% !important;
}
.seperate_class .form__form-group-label{
    padding-top: 7px;
    margin: 0 !important;
}
.card__title .subhead{font-weight: bold;color: #000;}
.card__title{padding-left: 14px;}
.form__button-toolbar.btn-toolbar {
    padding-left: 12px;
}
